<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Log in</h5>
        <div class="row">
          <label for="username" class="col-2">Username:</label>
          <input type="text" id="username" class="col-10" #username>
        </div>
        <div class="row">
          <label for="password" class="col-2">Password:</label>
          <input type="text" id="password" class="col-10" #password2>
        </div>
        <div class="row">
          <button class="col-3 offset-2" (click)="onLogin(username, password)">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>